body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #383838;
  background-color: #FBFBFB;
}

h1 {
  font-size: 1.8rem;
  color: #066163;
  letter-spacing: 0.1rem;
}

.todoHeader {
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem;
  padding: 0.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: right;
  gap: 1em;
}

.timer {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.checkboxStyle {
  margin-right: 1rem;
}

.borderStyle {
  border: lightgray solid 1px;
  border-radius: 6px;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 1.2rem;
  color:#066163;
  font-weight: 600;
  margin-bottom: 0.2em;
}

form {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formInputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.35em;
  gap: 1.5em;
}

.formColumnStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputStyle {
  border: #066163 solid 1px;
  border-radius: 6px;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
}

.buttonStyle {
  background-color: #066163; 
  border: none;
  border-radius: 6px;
  color: white;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.4s;
  width: fit-content;
}

.buttonStyle:hover {
  color: white;
  background-color: #CDBE78;
}

.buttonDeleteStyle {
  background-color: white;
  border: #066163 solid 1px;
  color: #066163;
  padding: 0.5rem 1.4rem;
}

.buttonDeleteStyle:hover {
  color: white;
  background-color: #CDBE78;
  border: #CDBE78 solid 1px;
}

.checkedTodo {
  text-decoration: line-through;
  color: #CDBE78;
}